.slice-page {
    width: 100%;
    height: 100vh;
    background-color: darkgrey;
}

.slice-page .whiteboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slice-page .whiteboard-container .whiteboard {
    background-color: white;
    width: 640px;
    height: 480px;
}
